@import "tailwindcss";
  @plugin "daisyui" {
   themes: light --default, dark --prefersdark;
 }

 @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
 
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
  --color-error-content: oklch(98% 0.01 30);


}

* {
  font-family: "Poppins", sans-serif;
}